@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-primary-600: #6a4c9c;
  --color-primary-400: #f56b8a;
  --color-primary-200: #9a8cd8;
  --color-primary-100: #f8a7c4;

  /* Neutral Colors */
  --color-neutral-800: #2a2a3c;
  --color-neutral-500: #6e6e7e;
  --color-neutral-100: #e6e6f0;
  --color-neutral-50: #f4f4f9;
  --color-neutral-white: #ffffff;
}
